{% extends "base.html" %}

{% block main_body %}

<h1>Coh-Metrix-Dementia 1.0</h1>

<p>Coh-Metrix-Dementia is a tool that uses Natural Language Processing (NLP) tools and resources to allow for the extraction of textual metrics, which can be used to aid the automated analysis and detection of dementia, with initial focus on Alzheimer's Disease and Mild Cognitive Impairment. It's based on Coh-Metrix-Port, the Brazilian Portuguese adaptation of <a href="http://cohmetrix.com/">Coh-Metrix</a>. Coh-Metrix-Dementia is capable of extracting all the 48 metrics originally supported by Coh-Metrix-Port, and also 25 additional metrics that capture syntactical complexity, idea density, textual coherence, and disfluency level. All supported metrics are described in the <a href="{{ url_for('help') }}">Help</a> page.</p>

<h1>References</h1>

<p>Cunha, Andre Luiz Verucci da. (2015) <b>Coh-Metrix-Dementia: análise automática de distúrbios de linguagem nas demências utilizando Processamento de Línguas Naturais</b> / Andre Luiz Verucci da Cunha; orientadora Sandra Maria Aluísio. – São Carlos – SP, 2015. 151 p.</p>

<p>CUNHA, A.; SOUSA, L. Bender de; MANSUR, L.; ALUISIO, S. <b>Automatic proposition extraction from dependency trees: Helping early prediction of alzheimer’s disease from narratives</b>. In: Computer-Based Medical Systems (CBMS), 2015 IEEE 28th International Symposium on Computer-Based Medical Systems, 2015. p. 127–130.</p>

<h1>Authors</h1>

<p>The core library and this website were developed by <a href="https://github.com/andrecunha/">Andre Cunha</a>. The metrics were extensively validated and documented by <a href="https://github.com/nathanshartmann/">Nathan Siegle Hartmann</a> and Andre Cunha.</p>

{% endblock %}