<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coh-Metrix-Dementia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    {% assets "css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body class="index-body">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for msg_category, message in messages %}
                <div class="alert alert-{{ msg_category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div style="color: #333;">
                    <h1>Welcome!</h1>
                    <h2>This is Coh-Metrix-Dementia</h2>

                    <p>
                    Coh-Metrix-Dementia is a system that can analyze texts in terms of several metrics, which are related to cohesion, coherence, and readability, among other textual aspects.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div style="border-radius: 5px; padding: 15px; background-color: #EEE;">
                    <h2>Login</h2>
                    <form action="login" method="POST" class="form-horizontal">
                        {{ login_form.hidden_tag() }}
                        <div id="login-username" class="form-group has-feedback">
                            <label for="inputLoginEmail" class="col-sm-2 control-label">{{ login_form.email.label }}</label>
                            <div class="col-sm-10">
                                {{ login_form.email(**{'class': 'form-control',
                                                       'id': 'inputLoginEmail',
                                                       'placeholder': 'johndoe@example.com'}) }}
                                <!--
                                <input type="text" class="form-control" id="inputLoginUsername" placeholder="Username" name="username">
                                -->
                                <span id="login-error-icon" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                                {% if login_form.email.errors %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 5pt;">
                                        <p>There are errors in this field:</p>
                                        <p></p>
                                        <ul>
                                            {% for error in login_form.email.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputLoginPassword" class="col-sm-2 control-label">{{ login_form.password.label }}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    {{ login_form.password(**{'class': 'form-control',
                                                              'id': 'inputLoginPassword',
                                                              'placeholder': 'Type your password'}) }}
                                    <!--
                                    <input type="password" class="form-control" id="inputLoginPassword" placeholder="Password" name="password">
                                    -->
                                    <a href="#" class="input-group-addon" title="Recover password"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                                </div>

                                {% if login_form.password.errors %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 5pt;">
                                        <p>There are errors in this field:</p>
                                        <p></p>
                                        <ul>
                                            {% for error in login_form.password.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Remember me
                                </label>
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                {{ login_form.submit(**{'class': 'btn btn-primary'}) }}
                                <!--
                                <input type="submit" value="Login" class="btn btn-primary"/>
                                -->
                            </div>
                        </div>
                    </form>
                </div>

                <div class="">
                    <h2>Or register</h2>
                    <form action="register" method="POST" class="form-horizontal">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="inputRegisterFullname" class="col-sm-4 control-label">{{ form.username.label }}</label>
                            <div class="col-sm-8">
                                {{ form.username(**{'class': 'form-control',
                                                    'id': 'inputRegisterFullname',
                                                    'placeholder': 'John Doe'}) }}
                                <!--
                                <input type="text" class="form-control" id="inputRegisterFullname" placeholder="John Doe" name="fullname">
                                -->
                                {% if form.username.errors %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 5pt;">
                                        <p>There are errors in this field:</p>
                                        <p></p>
                                        <ul>
                                            {% for error in form.username.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputRegisterEmail" class="col-sm-4 control-label">{{ form.email.label }}</label>
                            <div class="col-sm-8">
                                {{ form.email(**{'class': 'form-control',
                                                 'id': 'inputRegisterEmail',
                                                 'placeholder': 'johndoe@example.com'}) }}
                                {% if form.email.errors %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 5pt;">
                                        <p>There are errors in this field:</p>
                                        <p></p>
                                        <ul>
                                            {% for error in form.email.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <!--
                                <input type="text" class="form-control" id="inputRegisterEmail" placeholder="johndoe@example.com" name="email">
                                -->
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputRegisterInstitution" class="col-sm-4 control-label">{{ form.institution.label }}</label>
                            <div class="col-sm-8">
                                {{ form.institution(**{'class': 'form-control',
                                                       'id': 'inputRegisterInstitution',
                                                       'placeholder': 'John Doe University'}) }}
                                {% if form.institution.errors %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 5pt;">
                                        <p>There are errors in this field:</p>
                                        <p></p>
                                        <ul>
                                            {% for error in form.institution.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <!--
                        <div class="form-group">
                            <label for="inputRegisterUsername" class="col-sm-4 control-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputRegisterUsername" placeholder="johndoe" name="username">
                            </div>
                        </div>
                        -->

                        <div class="form-group">
                            <label for="inputRegisterPassword" class="col-sm-4 control-label">{{ form.password.label }}</label>
                            <div class="col-sm-8">
                                {{ form.password(**{'class': 'form-control',
                                                    'id': 'inputRegisterPassword',
                                                    'placeholder': 'Type a password'}) }}
                                {% if form.password.errors %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 5pt;">
                                        <p>There are errors in this field:</p>
                                        <p></p>
                                        <ul>
                                            {% for error in form.password.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <!--
                                <input type="password" class="form-control" id="inputRegisterPassword" placeholder="Type a password" name="password">
                                -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputRegisterConfirmPassword" class="col-sm-4 control-label">{{ form.confirm.label }}</label>
                            <div class="col-sm-8">
                                {{ form.confirm(**{'class': 'form-control',
                                                   'id': 'inputRegisterConfirmPassword',
                                                   'placeholder': 'Type your password again'}) }}
                                {% if form.confirm.errors %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 5pt;">
                                        <p>There are errors in this field:</p>
                                        <p></p>
                                        <ul>
                                            {% for error in form.confirm.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <!--
                                <input type="password" class="form-control" id="inputRegisterConfirmPassword" placeholder="Type your password again" name="confirmPassword">
                                -->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                {{ form.submit(**{'class': 'btn btn-primary'}) }}
                                <!--
                                <input type="submit" value="Register" class="btn btn-primary"/>
                                -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted" style="text-align:center;"> Copyright &copy; 2014-2015 <a href="http://nilc.icmc.usp.br/">NILC</a>. Developed by <a href="https://github.com/andrecunha/cmd-webint/">Andre Cunha</a>. Tested and validated by Andre Cunha and Nathan Siegle Hartmann.</p>
        </div>
    </footer>

    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" src="static/js/index.js"></script>
</body>
</html>
