.index-body { 
	min-height: 500px;
	height: 100hv;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main-body { 
	padding-top: 70px;
	padding-bottom: 70px;
}

.text-row {
	cursor: pointer;
	cursor: hand;
}

.modal-body {
    max-height: calc(100vh - 235px);
    overflow-y: auto;
}

.export-button {
    cursor: pointer;
}

#submitRevisedContent {
    height: 200px;
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

@media (max-width: 768px) {
    .top-margin-xs {
        margin-top:20px;
    }
}
