.index-body { 
	min-height: 500px;
	height: 100hv;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main-body { 
	padding-top: 70px;
	padding-bottom: 70px;
}

.text-row {
	cursor: pointer;
	cursor: hand;
}

@media (max-width: 768px) {
    .top-margin-xs {
        margin-top:20px;
    }
}