<!DOCTYPE html>

<html lang="en">
<head>
	<title>Coh-Metrix-Dementia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	{% assets "css" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
	{% endassets %}
</head>
<body class="main-body">
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Coh-Metrix-Dementia</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Analyze</a></li>
						<li><a href="#">Explore</a></li>
						<li><a href="#">Classify</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Help</a></li>
						<li><a href="#">About</a></li>
						<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-right: 10pt;"></span>John Doe<span class="caret" style="margin-left: 5pt;"></span></a>
				          <ul class="dropdown-menu" role="menu">
				            <li><a href="#">Profile</a></li>
				            <li class="divider"></li>
				            <li><a href="{{ url_for('index') }}">Logout</a></li>
				          </ul>
				        </li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>

		<div class="jumbotron">
			<h1>Welcome to Coh-Metrix-Dementia</h1>
		</div>

	</div>

	{% assets "js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
</body>
</html>